table {
    width: 100%;
}

.container {
    padding: 50px 80px;
}

.edit-button {
    background-color: transparent;
    border: none;
    color: rgb(88, 247, 88);
    cursor: pointer;

    :hover {
        transform: scale(1.2);
        transition: all 0.5s;
    }


}


.delete-button {
    background-color: transparent;
    border: none;
    color: rgb(248, 78, 78);
    cursor: pointer;

    :hover {
        transform: scale(1.2);
        transition: all 0.5s;
    }


}

.add {
    background-color: #000000ce;
    padding: 20px 50px;
    display: flex;
    flex-direction: row-reverse;
    color: #f3f3f3;
}


.add-button {
    background-color: #e04b10;
    display: flex;
    flex-direction: row-reverse;
    color: #f3f3f3;

    :hover {
        transform: scale(1.2);
        transition: all 0.5s;
        background-color: #fa6035;

    }
}